extends layout

block content
  .main-container
    .cloud-image
        .content
        .tweet-container
             
                img(src="/images/Application/public/images/Application/public/images/image.svg")    
        .content-body
            .success-text
                p successfully Deployed on AKS!